
html,body{
	width:100%;
	min-width:100%;
	margin:0px;
	padding:0px;
	padding-right:0px;
	margin-right:0px;
	min-height: 100%;
	font-family: Arial;
	padding-right:0px;
}

#body{
	min-width:100%;
	margin:0px;
	padding:0px;
	padding-right:0px;
	margin-right:0px;
	min-height: 100%;
	font-family: Arial;
	padding-right:0px;
}


.header_1{
	width:100%;
	min-width:800px;
	height: 30px;
	background: #682105;/*url('../../styles/default/images/ui-bg5.png');*/
	padding-top:0;
	margin-top:0;
	text-align:right;
	padding:0;
	margin:0;
}


#welcome_admin{
	display:inline-block;
	float:left;
	color: white;
	padding-left: 10px;
}


 #welcome_admin a:link{
	color: white;
}

 #welcome_admin a:visited{
	color: white;

}

#bottom{
	text-align:center;
	background:#682105;
	color:white;
	vertical-align:middle;
	padding:0px;
	width:100%;
	min-width:800px;
}

#footer_text{
	vertical-align:middle;
	width:auto;
	height:30px;
}



#body_page{
	background:#676ccb;
	width:100%;
	min-width:800px;
	display:table;
	height:900px;

}

#left_menu{
	width:20%;
	background:  	#944d31;	
	background:linear-gradient(to bottom , #f37e50, #944d31);
	/*#b3b1af;
	background: 
	/*border-radius:20px 0 0 20px;*/
	display:table-cell;
	padding-bottom:100px;
	font-size:1em;
	height:100%;
	border-right: 1px solid #5a1f08;
	font-weight:bold;
	
}

#block_menu{
	width:100%;
	cursor:pointer;
}


.block_icon{
	width: 50px;
	height: 30px;
	text-align: center;
	vertical-align:middle;
	border:1px solid black;
}

.block_name{
	white-space: nowrap;
	border:1px solid black;
}

.block_icon_img{
	height: 30px;
}

#block_company_information{
	height: 100px;
	width: 100%;
	text-align:center;
	/*background:#b3b1af;*/
	padding-bottom:20px;
}


#image_preview
{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:0px;
	display:none;
	color:#fff;
	z-index: 10000;
}

#loading
{
	width: 100%;
	height: 100%;
	background: url('../../styles/images/status_loading.gif') center center no-repeat;
}

#status_loading, #back_dialog
{
	width:100px;
	height:100px;
	position:fixed;
	left: 50%;
	top: 50%;
	z-index:1000000;
	display:none;
}

.btn_icon
{
	font-size: 0.8em;
}

.btn_edit
{
	font-size:0.6em;
}

